#Home-1{
    background-color: #FFEFEF;
}
.about-lead{
font-size: 20px;
line-height: 30px;
text-align: justify;
}
.custom-shape-1 {
    width: 291px;
    height: 344px;
    background-color: #d3d3d3; 
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
}
.custom-shape-2 {
    width: 291px;
    height: 344px;
    background-color: #d3d3d3; 
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
.shape-top-left {
    top: 0;
    left: 40px;
}
.shape-bottom-right {
    bottom: 0;
    right: 0;
}
.hover-effects {
    transition: box-shadow 0.5s ease-in-out;
    transition: transform ease 0.5s, box-shadow ease 0.5s !important;
}
.hover-effects:hover {
    transform: translateY(-6px);
    box-shadow: 0rem 2rem 2rem 0rem rgb(0 0 0 / 60%) !important;
}
.package-lead{
    font-size: 20px;
}
#Home-2{
    background-image: url('/img/bg.png');
    background-size: cover;
    background-position: center;
    min-height: 850px;
}
#Home-3{
    background-color: #FFEFEF;
}
.review-card{
    width: 327px;
    height: 541px;
    margin-left: -1rem;
}



















@media (min-width: 768px) and (max-width: 1024px) {
    .custom-shape-1 {
        width: 264px;
        height: 308px;
        background-color: #d3d3d3; 
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    .custom-shape-2 {
        width: 264px;
        height: 308px;
        background-color: #d3d3d3; 
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .shape-top-left {
        top: 0;
        left: 50px;
    }
    .shape-bottom-right {
        bottom: 40px;
        right: 50px;
    }
    .review-card{
        width: 230px;
        height: 407px;
        margin-right: 2rem;
    }
  }
  @media only screen and (max-width: 600px){
    .custom-shape-1, .custom-shape-2{
        height: 190px;
        width: 152px;
    }
  }
  @media screen and (min-width:576px) {
    .main-slide{
        display: flex;
    }
    .slider{
        display: block;
        margin-right: 0;
        flex:0 0 calc(100%/3);
    }
    .review-card{
        width: 312px;
        height: 535px;
    }
  }