.logo-img{
    width: 130px;
    height: 56px;
}
.footer-lead{
font-size: 14px;
line-height: 21px;
text-align: justify;
}
.newsletter-section {
    margin-bottom: -4rem;
}
.newsletter-card {
    box-shadow: 0px 4px 25px 0px #00000040;
}

.shadow {
    box-shadow: 0px -4px 25px 0px #00000040;
}
.package-lead{
    font-size: 20px;
}





































